<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View System</title>
</head>
<body style="background-image: url('/static/12.jpg')">
    <a href="https://www.google.com"><div style="height:60px;background-image: url('/static/db.jpg');
        position: fixed;bottom: 400px;    right: 1000px;width: 300px;text-align: center">
        <h1 style="position: relative;bottom: 10px; color: burlywood"> Smart Dustbin </h1>
    </div>
    </a>
</body>
</html>